.navigation{
  flex-basis: 20%;
  height: 82vh;
 
  
}
.navigation .navigation-item{
 min-height: 6vh;
 border-radius: 50px;
 margin-top: 10px;
 display: flex;
 background-color: rgb(247, 218, 192);
 color:rgb(107, 101, 101);
 border: 1px solid rgb(240, 198, 134);
 cursor: pointer;
 flex-direction: column;
 justify-content: center;
 user-select: none;
 
}
 .active-nav{
  background-color:  rgb(250, 198, 121) !important;
 
}
.support .active-nav{
  background-color: rgb(110, 106, 106) !important;
}
.navigation a{
  text-decoration: none;
}
 .navigation-item:hover{
   background-color: rgb(240, 198, 134);
  zoom: 1.05;
 }

 .navigation h4{
  margin-top: 10px;
  margin-bottom: 10px;
  color:peru
}