
.App .showcase{
 
  justify-content: space-around;
  align-items: flex-start !important;
  margin-top: 10px;
  
}


.App .others{
  flex-basis: 72%;
 
  padding-bottom: 30px;
  height: 115vh;
  
}

















